<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="x3n1/ickerday's personal site" />
    <title>x3n1's pierdolnik</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Micro+5&display=swap"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    {{ content }}
  </body>
</html>
