<!doctype html>
<html class="custom-pattern">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal site of x3n1/ickerday" />
    <title>{{ title }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Micro+5&display=swap" rel="stylesheet" />
    <link
      href="styles/style.css"
      rel="stylesheet"
      type="text/css"
      media="all" />
  </head>

  <body>
    {% include '_header.html' %}

    <div class="content">
      <aside id="sidebar-left" class="container">
        <section id="section-about-me">
          <h3>About me:</h3>
          <ul>
            <li>Age:
              <span class="about-me-value">{% myCurrentAge %}</span>
            </li>
            <li>
              Pronouns:
              <span class="about-me-value">he/him/they/them/whatever</span>
            </li>
            <li>
              Nationality:
              <span class="about-me-value">Principality of Zeon</span>
            </li>
            <li>
              Dexterity:
              <span class="about-me-value">mostly left-handed</span>
            </li>
            <li>
              MBTI:
              <span class="about-me-value">MBTI was debunked... but probably E/INFP-T last time I did it      
                years ago</span>
            </li>
            <li>Sign:
              <span class="about-me-value">Libra</span>
            </li>
          </ul>
        </section>

      <!-- {% include '_chat.html' %} -->
      </aside>

      <main class="container">{{ content }}</main>

      <aside id="sidebar-right" class="container">
        <section>
          <h3>Navigation:</h3>
          <nav>
            <ul>
              <li><a href="about-me.html">About me</a></li>
              <li><a href="things-i-like.html">Things I like</a></li>
              <li><a href="things-i-do.html">Things I do</a></li>
              <li><a href="things-i-do.html">Drink log</a></li>
              <li><a href="mecha.html">Mecha</a></li>
              <li><a href="music.html">Music</a></li>
              <li><a href="anime.html">Anime</a></li>
              <li><a href="guitars.html">Guitars</a></li>
              <li><a href="electronics.html">Electronics</a></li>
              <li><a href="lego.html">LEGO</a></li>
            </ul>
          </nav>
        </section>
        <section>
          <p>This site is {% siteAge %} days old</p>
          <p>
            This site was last updated at {% lastUpdated %}
          </p>

          <p>Congrats! You\'re viewer #{% visitCounter %}</p>
        </section>
      </aside>
    </div>

    {% include '_footer.html' %}

    <script></script>
  </body>
</html>